<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>

<!--This could absolutely use more CSS-->
<table style="width:100%" border="1">
    <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Summary</th>
        <th>More Details</th>
    </tr>
    <tr>
        <td>{{ vuln1[0] }}</td>
        <td><a href="{{ vuln1[1] }}">{{ vuln1[1] }}</a></td>
        <td>{{ vuln1[2] }}</td>
        <td>{{ vuln1[3] }}</td>
    <tr/>
    <tr>
        <td>{{ vuln2[0] }}</td>
        <td><a href="{{ vuln2[1] }}">{{ vuln2[1] }}</a></td>
        <td>{{ vuln2[2] }}</td>
        <td>{{ vuln2[3] }}</td>
    <tr/>
    <tr>
        <td>{{ vuln3[0] }}</td>
        <td><a href="{{ vuln3[1] }}">{{ vuln3[1] }}</a></td>
        <td>{{ vuln3[2] }}</td>
        <td>{{ vuln3[3] }}</td>
    <tr/>
    <tr>
        <td>{{ vuln4[0] }}</td>
        <td><a href="{{ vuln4[1] }}">{{ vuln4[1] }}</a></td>
        <td>{{ vuln4[2] }}</td>
        <td>{{ vuln4[3] }}</td>
    <tr/>
    <tr>
        <td>{{ vuln5[0] }}</td>
        <td><a href="{{ vuln5[1] }}">{{ vuln5[1] }}</a></td>
        <td>{{ vuln5[2] }}</td>
        <td>{{ vuln5[3] }}</td>
    <tr/>
    <tr>
        <td>{{ vuln6[0] }}</td>
        <td><a href="{{ vuln6[1] }}">{{ vuln6[1] }}</a></td>
        <td>{{ vuln6[2] }}</td>
        <td>{{ vuln6[3] }}</td>
    <tr/>
</body>
</html>